@model Game



<form method="post">
    <label>Title</label>
    <input type="text" name="Title" asp-for="Title" />
    <label>Last Price</label>
    <input type="text" name="LastPrice" asp-for="LastPrice" />
    <input type="submit" value="Add Game" />
</form>